.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
  }

.header .search-bar {
    width: 200px;
    padding: 10px;
}